<div class="row">
  <div class="col-lg-4 ">
    <ul class="breadcrumb">
      <li><i class="fa fa-home"></i><a href="#">Analista</a></li>
      <li><a href="#">Revistas </a></li>
      <li class="active">Analista</li>
    </ul>
  </div>
</div>
<!-- main -->
<div class="content">
  <div class="main-header">
    <h2>Analista</h2>
    <em>Sistema Decanato de Publicaciones</em>
  </div>
  <div class="main-content">
    <h3 (click)="modalAddRevista(modNuevaRevista)"><i class="fa fa-plus-circle" title="Agregar una Revista"></i> Agregar
      una Revista</h3>

    <!-- DATA EXPORT -->
    <div class="widget widget-table">
      <div class="widget-header">

        <h3><i class="fa fa-calendar"></i> Lista de Revistas</h3> <em>- Sistema Decanato de Publicaciones</em>
      </div>
      <div class="widget-content">
        <p-table #tblRevistas
          [globalFilterFields]="['strNombre', 'strIssn', 'strPais', 'intBasedeDatos', 'strCuartilJCR', 'intBasedeDatos']"
          [value]="vecRevistas" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25,50]"
          styleClass="p-datatable-customers p-datatable-gridlines" [paginator]="true"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">

          <ng-template pTemplate="caption">
            <div class="p-d-flex" style="float: right;">
              <span class="p-input-icon-left p-ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" #txtBusMatr style="margin-right: 0.5em;  font-size: 14px"
                  (input)="tblRevistas.filterGlobal(txtBusMatr.value, 'contains')" placeholder="buscar" />
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="font-size: 14px" pSortableColumn="strNombre"> Nombre<p-sortIcon field="strNombre"></p-sortIcon>
              </th>
              <th style="font-size: 14px" pSortableColumn="strIssn"><span> Issn </span> <p-sortIcon
                  field="strIssn"></p-sortIcon></th>
              <th style="font-size: 14px" pSortableColumn="strPais"> Pais<p-sortIcon field="strPais"></p-sortIcon></th>
              <th style="font-size: 14px" pSortableColumn="intBasedeDatos"> Base de Datos<p-sortIcon
                  field="intBasedeDatos"></p-sortIcon></th>
              <th style="font-size: 14px" pSortableColumn="intEstado"> Estado<p-sortIcon field="intEstado"></p-sortIcon>
              </th>
              <th style="font-size: 14px" pSortableColumn="Acciones"> Acciones<p-sortIcon field="Acciones"></p-sortIcon>
              </th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-objUser>
            <tr>
              <td style="font-size: 14px" style="font-size: 14px">{{objUser.strNombre}}</td>
              <td style="font-size: 14px">{{objUser.strIssn}}</td>
              <td style="font-size: 14px">{{objUser.strPais}}</td>
              <td style="font-size: 14px">{{objUser.nombBD}}</td>
              <td style="font-size: 14px">{{objUser.detEstado}}</td>
              <td style="font-size: 14px">
                <p-button class="btn btn-link" title="Editar Revistas"
                  (click)="verDataRevista(objUser, modNuevaRevista)"> <i class="fa fa-pencil"></i>
                </p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>

      </div>

    </div>
    <!-- END DATA EXPORT -->
  </div>

</div>
<!-- MODAL NUEVA REVISTA  -->



<ng-template #modNuevaRevista let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Datos de la Revista </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <table class="tblPublicacion" style="width: 90%;">
      <tr>
        <td>
          <label>Nombre </label>
        </td>
        <td>
          <input type="text" class="form-control" [(ngModel)]="vecBuscar[0].strNombre" />
        </td>
      </tr>
      <tr>
        <td>
          <label>Issn </label>
        </td>
        <td>
          <input type="text" class="form-control" [(ngModel)]="vecBuscar[0].strISSN" maxLength="9" />
        </td>
      </tr>
      <tr>
        <td>
          <label>Pais </label>
        </td>
        <td>
          <input [(ngModel)]="vecBuscar[0].strPais" type="text" class="form-control" />
        </td>
      </tr>
      <tr>
        <td>
          <label>Estado</label>
        </td>
        <td>
          <select class="select-ticket-priority" [(ngModel)]="vecBuscar[0].intEstado">
            <option value="1"> Indexada </option>
            <option value="0"> No Indexada </option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <label>Base de Datos</label>
        </td>
        <td>
          <select class="select-ticket-priority" [(ngModel)]="vecBuscar[0].intBasedeDatos">
            <ng-container *ngFor="let objBD of vecBaseDatos">
              <option *ngIf="objBD" value="{{objBD.intIdBasedeDatos}}">
                {{objBD.strNombre}} </option>
            </ng-container>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <label>Descripción </label>
        </td>
        <td>
          <input [(ngModel)]="vecBuscar[0].strDescripcion" type="text" class="form-control" />
        </td>
      </tr>
      <tr>
        <td>
          <label>Factor SJR </label>
        </td>
        <td>
          <input [(ngModel)]="vecBuscar[0].strFactorSJR" type="number" class="form-control" />
        </td>
      </tr>
      <tr>
        <td>
          <label>Cuartil SJR</label>
        </td>
        <td>
          <select class="select-ticket-priority" [(ngModel)]="vecBuscar[0].strCuartilSJR">
            <option value="0"> Sin Quartil </option>
            <option value="ACI"> Sin Cuartil Asignado </option>
            <option value="Q1"> Q1 </option>
            <option value="Q2"> Q2 </option>
            <option value="Q3"> Q3 </option>
            <option value="Q4"> Q4 </option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <label>Factor JCR</label>
        </td>
        <td>
          <input [(ngModel)]="vecBuscar[0].strFactorJCR" type="number" class="form-control" maxlength="5" />
        </td>
      </tr>
      <tr>
        <td>
          <label>Cuartil JCR</label>
        </td>
        <td>
          <select class="font-size: 14px" [(ngModel)]="vecBuscar[0].strCuartilJCR">
            <option value="0"> Sin Quartil </option>
            <option value="ACI"> Sin Cuartil Asignado </option>
            <option value="Q1"> Q1 </option>
            <option value="Q2"> Q2 </option>
            <option value="Q3"> Q3 </option>
            <option value="Q4"> Q4 </option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <label>Link</label>
        </td>
        <td>
          <input [(ngModel)]="vecBuscar[0].strLink" type="text" class="form-control" />
        </td>
      </tr>

    </table>
  </div>
  <div class="modal-footer">
    <p-button style="font-size: 14px" type="button" styleClass="p-button-success "
      (click)="ingresarRevista()">Guardar</p-button>
    <p-button style="font-size: 14px" type="button" styleClass="p-button-danger"
      (click)="cerrarRevista()">Cancelar</p-button>
  </div>
</ng-template>