<div class="row">
  <div class="col-lg-4 ">
    <ul class="breadcrumb">
      <li><i class="fa fa-home"></i><a href="#">Analista</a></li>
      <li><a href="#">Bases de Datos </a></li>
      <li class="active">Analista</li>
    </ul>
  </div>
</div>
<!-- main -->
<div class="content">
  <div class="main-header">
    <h2>Analista</h2>
    <em>Sistema Decanato de Publicaciones</em>
  </div>
  <div class="main-content">
    <h3 (click)="modalAddRBasedeDatos(modNuevaBasedeDatos)"><i class="fa fa-plus-circle"
        title="Agregar una Revista"></i> Agregar
      una Base de Datos</h3>

    <!-- DATA EXPORT -->
    <div class="widget widget-table">
      <div class="widget-header">

        <h3><i class="fa fa-calendar"></i> Lista de Bases de Datos</h3> <em>- Sistema Decanato de Publicaciones</em>
      </div>

      <p-table #tblBasesdeDatos [globalFilterFields]="['strNombre', 'strDescripcion', 'strApellidos', 'intEstado']"
        [value]="vecBasesdeDatos" [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25,50]"
        styleClass="p-datatable-customers p-datatable-gridlines" [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
        <ng-template pTemplate="caption">
          <div class="ui-helper-clearfix" style="text-align: left; display: inline-block;">

          </div>
          <div class="p-d-flex" style="float: right;">
            <span class="p-input-icon-left p-ml-auto">
              <i class="pi pi-search"></i>
              <input pInputText type="text" #txtBusMatr style="margin-right: 0.5em;  font-size: 14px"
                (input)="tblBasesdeDatos.filterGlobal(txtBusMatr.value, 'contains')" placeholder="buscar" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>

            <th style="font-size: 14px" pSortableColumn="strNombre"> Nombre<p-sortIcon field="strNombre"></p-sortIcon>
            </th>
            <th style="font-size: 14px" pSortableColumn="strDescripcion"><span> Descripción </span> <p-sortIcon
                field="strIssn"></p-sortIcon></th>

            <th style="font-size: 14px" pSortableColumn="intEstado"> Estado<p-sortIcon field="intEstado"></p-sortIcon>
            <th style="font-size: 14px" pSortableColumn="Acciones"> Acciones<p-sortIcon field="Acciones"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-objUser>
          <tr>
            <td style="font-size: 14px">{{objUser.strNombre}}</td>
            <td style="font-size: 14px">{{objUser.strDescripcion}}</td>
            <td style="font-size: 14px">{{objUser.detEstado}}</td>
            <td style="font-size: 14px">
              <p-button class="btn btn-link" title="Editar Base de Datos"> <i class="fa fa-pencil"></i>
              </p-button>
            </td>
          </tr>
        </ng-template>

      </p-table>


    </div>
    <!-- END DATA EXPORT -->
  </div>

</div>
<!-- /main -->
<ng-template #modNuevaBasedeDatos let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Datos de la Base de Datos </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <table id="tblBasesdeDatos" style="width: 90%;">
      <tr>
        <td style="padding-left: 5%; width: 25%;">Nombre Base de Datos</td>
        <td style="padding-left: 5%; width: 75%;"> <input type="text" [(ngModel)]="vecBuscar[0]['strNombre']"
            placeholder="Nombre de la Base de Datos " style="width: 100%; font-size: 14px;" /> </td>
      </tr>

      <tr>
        <td style="padding-left: 5%; width: 25%;">Descripción</td>
        <td style="padding-left: 5%; width: 75%;"> <input type="text" [(ngModel)]="vecBuscar[0]['strDescripcion']"
            placeholder="Descripcion" style="width: 100%; font-size: 14px; margin-top: 5px;" />
        </td>
      </tr>
      <tr>
        <td style="padding-left: 5%; width: 25%;">Estado </td>
        <td style="padding-left: 5%; width: 75%;">
          <select class="txtSigno" style="margin-top: 5px; width: 75%;" [(ngModel)]="vecBuscar[0]['intEstado']">
            <option value="0">NO RECONOCIDA </option>
            <option value="1">RECONOCIDA </option>
          </select>
        </td>
      </tr>

    </table>

  </div>
  <div class="modal-footer">

    <p-button type="button" styleClass="p-button-success" (click)="guardarBaseDatos()">Guardar </p-button>
    <p-button type="button" styleClass="p-button-danger" (click)="cerrarModal()">Cancelar</p-button>

  </div>
</ng-template>